<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <head th:replace="/layout :: head">

</head>
<body style="margin-top: 50px; margin-left: 10px; margin-right: 10px">
<h1>Edit customer</h1>
<p>
    <a class="btn btn-primary" href="/customers" role="button">Back to home</a>
</p>
<!--Message-->
<th:block th:if="${message}">
    <p style="font-size: large; color: darkblue" th:text="${message}"></p>
</th:block>

<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{customerId}">
    <table style="font-weight: bold; font-size: large">

        <tr>
            <td>Customer Name:</td>
            <td><input type="text" th:field="*{customerName}"/></td>
        </tr>
        <tr>
            <td>Birth day:</td>
            <td><input type="date" th:field="*{customerBirthday}"/></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <select th:field="*{customerGender}">
                    <option th:value="'Male'" th:text="Male"></option>
                    <option th:value="'Female'" th:text="Female"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Identification:</td>
            <td><input type="text" th:field="*{customerIdCard}"/></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{customerPhone}"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{customerEmail}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{customerAddress}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="customerType">
                    <option th:each="p : ${customerType}"
                            th:value="${p.customerTypeId}"
                            th:text="${p.customerTypeName}"
                            th:selected="(${customer.customerType}) and (${p.customerTypeId} == *{customerType.customerTypeId})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
<script rel="script" src="css/bootstrap.min.js"></script>
</body>
</html>

