<div class="row justify-content-right ">
  <h2>Danh sách nhân viên</h2>
  <div class="d-flex">
    <input [(ngModel)]="term"
      class="form-control me-3 " type="text" style="width: 400px" placeholder="Tìm kiếm theo tên nhân viên">
    <button class="btn btn-outline-success">Search</button>
  </div>
</div>

<div class="row m-3">
  <button [routerLink]="['/employee-create']" class="btn btn-success" style="width: 100px">Thêm mới</button>
  <table class="table mt-3">
    <thead>
    <tr>
      <th>Id</th>
      <th>Employee Name</th>
      <th>Position</th>
      <th>Education</th>
      <th>Division</th>
      <th>Birth day</th>
      <th>Id card</th>
      <th>Salary</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
<!--    phan trnag phai de sau tim kiem-->
    <tr *ngFor="let employee of employees | filter:term |  paginate: { itemsPerPage: 2, currentPage: p }">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.position}}</td>
      <td>{{employee.education}}</td>
      <td>{{employee.division}}</td>
      <td>{{employee.birthDay}}</td>
      <td>{{employee.idCard}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.address}}</td>
      <td>
        <button class="btn btn-sm btn-warning me-3">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
      </td>
<!--      <td><a [routerLink]="['/employee/edit',employee.id]">Edit</a></td>-->
<!--      <td><a [routerLink]="['/employee/delete',employee.id]">Delete</a></td>-->
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!--<a routerLink="/customer/create">Tạo mới khách hàng</a>-->
<!--<table>-->
<!--  <tr>-->
<!--    <td>Id</td>-->
<!--    <td>Customer Name</td>-->
<!--    <td>Birth day</td>-->
<!--    <td>Id card</td>-->
<!--    <td>Phone</td>-->
<!--    <td>Email</td>-->
<!--    <td>Address</td>-->
<!--    <td colspan="2"></td>-->
<!--  </tr>-->
<!--  <tr *ngFor="let customer of customers; index as i">-->
<!--    <td>{{i + 1}}</td>-->
<!--    <td>{{customer.name}}</td>-->
<!--    <td>{{customer.birthDay}}</td>-->
<!--    <td>{{customer.idCard}}</td>-->
<!--    <td>{{customer.phone}}</td>-->
<!--    <td>{{customer.email}}</td>-->
<!--    <td>{{customer.address}}</td>-->
<!--    <td><a [routerLink]="['/customer/edit',customer.id]">Edit</a></td>-->
<!--    <td><a [routerLink]="['/customer/delete',customer.id]">Delete</a></td>-->
<!--  </tr>-->
<!--</table>-->

