<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Products</title>
</head>
<head th:replace="/layout::head"></head>
<p>
    <button style="background-color: #4CAF50; color: black; font-weight: bold">
        <a th:href="@{/products}">
            Back to product List
        </a>
    </button>
</p>
<body>
<div id="form">
    <form th:action="@{/product/save}" th:object="${products}"
    method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{productId}"/>
<!--        ẩn đi,,, người dùng ko có quyen add id-->
        <div>
            <label>Product Name</label>
            <input type="text" th:field="*{productName}"/>
        </div>
        <div>
            <label>Product Price</label>
            <input type="text" th:field="*{productPrice}"/>
        </div>
        <div>
            <label>Product Information</label>
            <input type="text" th:field="*{productInfo}"/>
        </div>
        <div>
            <label>Brand Name</label>
            <input type="text" th:field="*{brandName}"/>
        </div>
        <input type="submit" value="Save"/>

    </form>
</div>
<footer th:replace="/layout::footer"></footer>
</body>
</html>