<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <head th:replace="/layout :: head">

    </head>
<body style="margin-top: 50px; margin-left: 10px; margin-right: 10px">
<h1>Delete employee???</h1>
<p>
    <a class="btn btn-primary" href="/employees" role="button">Back to home</a>
</p>
<!--Message-->
<th:block th:if="${message}">
    <p style="font-size: large; color: darkblue" th:text="${message}"></p>
</th:block>
<form th:action="@{/delete-employee}" th:object="${employee}" method="post">

    <table style="font-weight: bold; font-size: large" readonly="">
        <tr>
            <td>Employee Id:</td>
            <td><input th:type="text" name="id" th:field="*{employeeId}" readonly></td>
        </tr>

        <tr>
            <td>Employee Name:</td>
            <td><input type="text" th:field="*{employeeName}" readonly/></td>
        </tr>
        <tr>
            <td>Birth day:</td>
            <td><input type="date" th:field="*{employeeBirthday}" readonly/></td>
        </tr>
<!--        <tr>-->
<!--            <td>Gender:</td>-->
<!--            <td>-->
<!--                <select th:field="*{customerGender}">-->
<!--                    <option th:value="'Male'" th:text="Male"></option>-->
<!--                    <option th:value="'Female'" th:text="Female"></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
        <tr>
            <td>Identification:</td>
            <td><input type="text" th:field="*{idCard}" readonly/></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}" readonly/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}" readonly/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}" readonly/></td>
        </tr>
        <tr>
            <td>Education degree:</td>
            <td th:text="${employee.educationDegree.educationName}" readonly></td>
        </tr>
        <tr>
            <td>Division: </td>
            <td th:text="${employee.division.divisionName}" readonly></td>
        </tr>
        <tr>
            <td>Position: </td>
            <td th:text="${employee.position.positionName}" readonly></td>
        </tr>
        <tr>
            <td></td>
<!--            <td><input type="submit" value="Delete customer"-->
<!--                th:onclick="'javascript:actionDelete(\'' + ${employee.employeeId}+'\);'">-->
<!--            </td>-->
            <td><input type="submit" value="Delete employee"
                th:onclick="'javascript:actionDelete()'">
            </td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
<script rel="script" src="js/bootstrap.min.js"></script>
</body>
</html>