<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <head th:replace="/layout :: head">
    </head>
<body style="margin-top: 50px; margin-left: 10px; margin-right: 10px">
<h1>Create customer</h1>
<p>
    <a class="btn btn-primary" href="/show-customer-type" role="button">Back to home</a>
</p>
<!--Message-->
<th:block th:if="${message}">
    <p style="font-size: large; color: darkblue" th:text="${message}"></p>
</th:block>


<!--form create-->
<form th:action="@{/create-customer-type}" th:object="${customerType}" method="post">
    <table style="font-weight: bold; font-size: large">

        <tr>
            <td>Customer Type Name:</td>
            <td><input type="text" th:field="*{customerTypeName}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create customer type"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
<script rel="script" src="css/bootstrap.min.js"></script>
</body>
</html>