<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <head th:replace="/layout :: head">

    </head>
<body style="margin-top: 50px; margin-left: 10px; margin-right: 10px">
<h1>Do you want to delete this customer?</h1>
<p>
    <a class="btn btn-primary" href="/show-customer-type" role="button">Back to customer manager</a>
</p>
<!--Message-->
<th:block th:if="${message}">
    <p style="font-size: large; color: darkblue" th:text="${message}"></p>
</th:block>
<form th:action="@{/delete-customer-type}" th:object="${customerType}" method="post">

    <table style="font-weight: bold; font-size: large" readonly="">
        <tr>
            <td>Customer Type Id:</td>
            <td><input th:type="text" name="id" th:field="*{customerTypeId}" readonly/></td>
        </tr>

        <tr>
            <td>Customer Type Name:</td>
            <td><input type="text" th:field="*{customerTypeName}" readonly/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Delete customer Type"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
<script rel="script" src="css/bootstrap.min.js"></script>
</body>
</html>