<h3 class="text-center"> Edit employee</h3>
<form [formGroup]="formEditEmployee" class="w-75 mx-auto mt-3">
  <div class="form-group ">
    <p>Name</p>
    <input formControlName="name" class="form-control" type="text">
    <p *ngIf="formEditEmployee.controls.name.errors?.required
    && formEditEmployee.controls.name.touched" class="text-danger">Please input name</p>
  </div>
  <div class="form-group">
    <p>Position</p>
    <input formControlName="position" class="form-control" type="text">
    <p *ngIf="formEditEmployee.controls.position.errors?.required
    && formEditEmployee.controls.position.touched" class="text-danger">Please input position</p>
  </div>
  <div class="form-group">
    <p>Education</p>
    <input formControlName="education" class="form-control" type="text" >
    <p *ngIf="formEditEmployee.controls.education.errors?.required
    && formEditEmployee.controls.education.touched" class="text-danger">Please input education</p>
  </div>
  <div class="form-group">
    <p>Division</p>
    <input formControlName="division" class="form-control" type="text">
    <p *ngIf="formEditEmployee.controls.division.errors?.required
    && formEditEmployee.controls.division.touched" class="text-danger">Please input division</p>
  </div>
  <div class="form-group">
    <p>Birth Day</p>
    <!--    <input  type="date">-->
    <mat-form-field>
      <input [max]="maxDate" [min]="minDate" matInput [matDatepicker]="myDatepicker" formControlName="birthDay" class="form-control" placeholder="choose birthday">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <p *ngIf="formEditEmployee.controls.birthDay.errors?.required
    && formEditEmployee.controls.birthDay.touched" class="text-danger">Please dat of birth name</p>

  </div>
  <div class="form-group">
    <p>Id card</p>
    <input formControlName="idCard" class="form-control" type="text">
    <p *ngIf="formEditEmployee.controls.idCard.errors?.required
    && formEditEmployee.controls.idCard.touched" class="text-danger">Please input ID card</p>
    <p *ngIf="formEditEmployee.controls.idCard.errors?.pattern
    && formEditEmployee.controls.idCard.touched" class="text-danger">ID card is not right format</p>
  </div>
  <div class="form-group">
    <p>Salary</p>
    <input formControlName="salary" class="form-control" type="text">
    <p *ngIf="formEditEmployee.controls.salary.errors?.required
    && formEditEmployee.controls.salary.touched" class="text-danger">Please input salary</p>
    <p *ngIf="formEditEmployee.controls.salary.errors?.pattern
    && formEditEmployee.controls.salary.touched" class="text-danger">Salary is not right format</p>
  </div>
  <div class="form-group">
    <p>Email</p>
    <input formControlName="email" class="form-control" type="text">
    <p *ngIf="formEditEmployee.controls.email.errors?.required
    && formEditEmployee.controls.email.touched" class="text-danger">Please input email</p>
    <p *ngIf="formEditEmployee.controls.email.errors?.email
    && formEditEmployee.controls.email.touched" class="text-danger">Email is not right format</p>
  </div>
  <div class="form-group">
    <p>Phone</p>
    <input formControlName="phone" class="form-control" type="text">
    <p *ngIf="formEditEmployee.controls.phone.errors?.required
    && formEditEmployee.controls.phone.touched" class="text-danger">Please input phone</p>
    <p *ngIf="formEditEmployee.controls.phone.errors?.pattern
    && formEditEmployee.controls.phone.touched" class="text-danger">Phone is not right format</p>
  </div>
  <div class="form-group">
    <p>Address</p>
    <input formControlName="address" class="form-control" type="text">
    <p *ngIf="formEditEmployee.controls.address.errors?.required
    && formEditEmployee.controls.address.touched" class="text-danger">Please input address</p>
  </div>
</form>

<div class="col-24 d-flex justify-content-center mt-4">
  <button [disabled]="formEditEmployee.invalid" (click)="editEmployee()"  class="btn btn-success">Edit employee</button>
</div>

