<h3 class="text-center"> Thêm mới customer </h3>
<form [formGroup]="formCreateCustomer" class="w-75 mx-auto mt-3">
  <div class="form-group ">
    <p>Mã khách hàng</p>
    <input formControlName="customerCode" class="form-control" type="text">
    <p *ngIf="formCreateCustomer.controls.customerCode.errors?.required
    && formCreateCustomer.controls.customerCode.touched" class="text-danger">Vui lòng điền mã khách hàng</p>
  </div>
  <div class="form-group ">
    <p>Tên khách hàng</p>
    <input formControlName="customerName" class="form-control" type="text">
    <p *ngIf="formCreateCustomer.controls.customerName.errors?.required
    && formCreateCustomer.controls.customerName.touched" class="text-danger">Vui lòng điền tên khách hàng</p>
  </div>

  <div class="form-group">
    <p>Ngày sinh</p>
    <!--    <input  type="date">-->
    <mat-form-field>
      <input [max]="maxDate" [min]="minDate" matInput [matDatepicker]="myDatepicker" formControlName="dateOfBirth"
             class="form-control" placeholder="Chọn ngày sinh">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <p *ngIf="formCreateCustomer.controls.dateOfBirth.errors?.required
    && formCreateCustomer.controls.dateOfBirth.touched" class="text-danger">Vui lòng chọn ngày sinh</p>
  </div>


  <div class="form-group ">
    <p>Địa chỉ</p>
    <input formControlName="customerAddress" class="form-control" type="text">
    <p *ngIf="formCreateCustomer.controls.customerAddress.errors?.required
    && formCreateCustomer.controls.customerAddress.touched" class="text-danger">Vui lòng điền địa chỉ</p>
<!--    <p *ngIf="formCreateCustomer.controls.tenBenhNhan.errors?.pattern-->
<!--    && formCreateCustomer.controls.tenBenhNhan.touched" class="text-danger">Tên bệnh nhân không chứa ký tự số</p>-->
  </div>




<!--  <div class="form-group">-->
<!--    <p>Ngày xuất Viện</p>-->
<!--    &lt;!&ndash;    <input  type="date">&ndash;&gt;-->
<!--    <mat-form-field>-->
<!--      <input [max]="" [min]="minDate" matInput [matDatepicker]="myDatepicker1" formControlName="ngayRaVien"-->
<!--             class="form-control" placeholder="chọn ngày ra viện">-->
<!--      <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #myDatepicker1></mat-datepicker>-->
<!--    </mat-form-field>-->
<!--    <p *ngIf="formCreateCustomer.controls.ngayRaVien.errors?.required-->
<!--    && formCreateCustomer.controls.ngayRaVien.touched" class="text-danger">Vui lòng chọn ngày xuất viện</p>-->
<!--  </div>-->

  <div class="form-group ">
    <p>Số điện thoại</p>
    <input formControlName="customerPhone" class="form-control" type="text">
    <p *ngIf="formCreateCustomer.controls.customerPhone.errors?.required
    && formCreateCustomer.controls.customerPhone.touched" class="text-danger">Vui lòng điền số điện thoại</p>
  </div>
  <div class="form-group ">
    <p>Nhập địa chỉ email</p>
    <input formControlName="email" class="form-control" type="text">
    <p *ngIf="formCreateCustomer.controls.email.errors?.required
    && formCreateCustomer.controls.email.touched" class="text-danger">Vui lòng điền email</p>
  </div>


<!--  <div class="form-group ">-->
<!--    <p>Status</p>-->
<!--    &lt;!&ndash;    <input formControlName="status" class="form-control" type="text">&ndash;&gt;-->
<!--    <select class="form-select" formControlName="status" >-->
<!--      <option value="" disabled selected>Select text</option>-->
<!--      <option value="Đã phản hồi">Đã phản hổi</option>-->
<!--      <option value="Chưa phản hồi">Chưa phản hổi</option>-->
<!--    </select>-->
<!--    <p *ngIf="formCreateCustomer.controls.status.errors?.required-->
<!--      && formCreateCustomer.controls.status.touched" class="text-danger">Please input status</p>-->
<!--  </div>    -->

<!--    <div class="form-group">-->
<!--      <p>Select customer type</p>-->
<!--      <select class="form-control" formControlName="customerType">-->
<!--        <option *ngFor="let option of customerTypes " [ngValue]="option" selected>{{option.customerTypeName}}</option>-->
<!--      </select>-->
<!--    </div>-->

</form>

<div class="col-24 d-flex justify-content-center mt-4">
  <button [disabled]="formCreateCustomer.invalid" (click)="addNewCustomer()" class="btn btn-success">Thêm mới
  </button>
</div>



